* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

body,
html {
  height: 100%;
  width: 100%;
}

@media (max-width: 600px) {
  .cursor1 {
    display: none;
  }
}

.cursor1 {
  height: 30px;
  width: 30px;
  background-color: red;
  border-radius: 50%;
  position: fixed;
  z-index: 10;
  transform: translate(-50%, -50%);
  transition: transform linear;
  mix-blend-mode: difference;
  pointer-events: none;
  transition: background-image ease 0.1s;
  object-fit: cover;
}

/* .page1 {
      background: linear-gradient(to top right, #0027c0, #723289 70%, #0027c0);
    } */

.container {
  padding: 20px;
}

.tabs {
  position: relative;
  display: flex;
  align-items: center;
  background: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  list-style: none;
  width: fit-content;
}

.tab {
  position: relative;
  padding: 12px 20px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 2;
  mix-blend-mode: difference;
  color: white;
}

.cursor {
  position: absolute;
  bottom: 5px;
  left: 0;
  height: 55px;
  background: black;
  background-image: url("https://i.pinimg.com/originals/90/2f/b6/902fb683da6e99129aa43990f81607cd.gif");
  border-radius: 50px;
  transition: all 0.3s ease;
  opacity: 0;
  z-index: 1;
}

.page1 {
  height: 100%;
  width: 100%;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(-1080px) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(0) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

/*footer*/

body {
  color: #eee;
  font-family: Poppins;
  margin: 0;
  background-image: repeating-linear-gradient(
      to right,
      #2d2a44 0 1px,
      transparent 2px 200px
    ),
    repeating-linear-gradient(to bottom, #2d2a44 0 1px, transparent 2px 200px),
    radial-gradient(at 50% 50%, #2d2a44, #1d1b34);
}

.list {
  columns: 20vw;
}

.list img {
  margin-bottom: 20px;
}

.font1 {
  font-family: "Cherry Bomb One";
}

@media (max-width: 600px) {
  .cursor1 {
    display: none;
  }
  .navSideBar {
    display: none;
  }
  .list {
    columns: 40vw;
  }
}
.navSideBar {
  display: none;
}

.navSideBar {
  display: none;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.overlay-content {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
